<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  	<div fxFlex="40" *ngIf="dish">
      		<md-card >
        		<md-card-header>
          			<md-card-title>
            			<h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
          			</md-card-title>
        		</md-card-header>
        		<img height="200px" md-card-image src="{{dish.image}}" alt="{{dish.name}}">
        		<md-card-content>
          			<p>{{ dish.description}} </p>
        		</md-card-content>
        		<md-card-actions>
					<mat-card-actions>
						<button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
					<button mat-button (click)="goBack()">BACK</button>
          			<button md-button>LIKE</button>
					  <button md-button>SHARE</button>
					  <span class="flex-spacer"></span>
					  <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
					</mat-card-actions>
        		</md-card-actions>
      		</md-card>
  	</div>
  	<div fxFlex="40" *ngIf="dish">
		<md-list >
			<h3>Comments</h3>
			<md-list-item *ngFor="let comment of dish.comments">
				<p md-line>
					<span>{{comment.comment}}</span>
				</p>
				<p md-line>
					<span>{{comment.rating}} Stars</span>
				</p>
				<p md-line>
					<span>-- {{comment.author}} {{ comment.date | date }}</span>
				</p>
			</md-list-item>
		</md-list>
	</div>
	<div [hidden]="dish">
	    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
	</div>
	  
</div>